#page-footer {
    border-top:solid 1px #bababa;
    text-align:center;
    margin-top:1em;
    padding-top:1em;
}

.section-nav {
    text-align:center;
}

.images-div img {
    width:100%;
    height:auto;
}

.profile-div span {
    display:block;
    margin-bottom:10px;
}
