<div>
    <p>Does the age of your pet matter to you?</p>
    <select id="age" name="age" data-ng-model="data.age">
        <option value="">Doesn't matter</option>
        <option value="Baby">Baby</option>
        <option value="Young">Young</option>
        <option value="Adult">Adult</option>
        <option value="Senior">Senior</option>
    </select>
    <div class="row">
        <div class="section-nav col-md-12">
            <a data-ng-href="#/app/gender" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-arrow-left"></span> PREVIOUS</a>
            <a data-ng-href="#/app/location" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-arrow-right"></span> NEXT</a>
        </div>
    </div>
</div>
