<div data-ng-controller="pawsOptions">
    <p>Ok, now let's discuss special needs.</p>
    <select id="animalOptions" name="animalOptions" data-ng-model="data.animalOptions">
        <option value=""></option>
        <option value="altered">Spayed/Neutered</option>
        <option value="noClaws">No claws</option>
        <option value="hasShots">Has current shots</option>
        <option value="housebroken">Housebroken</option>
        <option value="noCats">Not good with cats</option>
        <option value="noDogs">Not good with dogs</option>
        <option value="noKids">Not good with kids</option>
        <option value="specialNeeds">Has special needs</option>
    </select>
    <div class="row">
        <div class="section-nav col-md-12">
            <a data-ng-href="#/app/age" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-arrow-left"></span> PREVIOUS</a>
            <a data-ng-href="#/app/location" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-arrow-right"></span>NEXT</a>
        </div>
    </div>
</div>
