<div data-ng-controller="pawsSize">
    <div data-ng-controller="pawsSize">
        <p>Ok, do you have a preference in sizes?</p>
        <div class="row">
            <div class="section-nav col-md-12">
                <a data-ng-href="#/app/breed" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-arrow-left"></span> PREVIOUS</a>
                <a data-ng-href="#/app/gender" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-arrow-right"></span> NEXT</a>
            </div>
        </div>
    </div>

</div>
