<div data-ng-controller="pawsGender">
    <p>Does the gender make a difference in a pet for you?</p>
    <select id="gender" name="gender" data-ng-model="data.gender">
        <option value="">Don't have a preference</option>
        <option value="M">Male</option>
        <option value="F">Female</option>
    </select>
    <div class="row">
        <div class="section-nav col-md-12">
            <a data-ng-href="#/app/size" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-arrow-left"></span> PREVIOUS</a>
            <a data-ng-href="#/app/age" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-arrow-right"></span> NEXT</a>
        </div>
    </div>
</div>
