<div>
    <p>We're almost there. Just give us your zip/postal code so that we may find a friend nearby that would love to meet you. This field is required.</p>
    <input type="text" name="location" data-ng-model="data.humanLocation" required>
    <div class="row">
        <div class="section-nav col-md-12">
            <a data-ng-href="#/app/age" class="btn btn-success btn-md"><span class="glyphicon glyphicon-arrow-left"></span> PREVIOUS</a>
            <a data-ng-href="#/app/result" class="btn btn-success btn-md"><span class="glyphicon glyphicon-heart"></span> MEET YOUR NEW BEST FRIEND!</a>
        </div>
    </div>
</div>
